@use "../../../styles.scss" as global;
footer {
    height: 150px;
    width: 100%;
    color: #ffffff;
    background-color: global.$face-blue;
}
.Outer-Section {
    display: flex;
    padding-top: 20px;
    justify-content: center;
}
.contact,
.follow {
    display: inline-block;
    margin-right: 2%;
}
.head {
    font-size: 20px;
}
.mat-divider {
    height: 1px;
    background-color: white;
    margin: 0.4rem 0;
}

@media screen and (max-width: 425px) {
    .Outer-Section {
        gap: 20px;
    }
    .contact {
        width: 180px;
    }
    .follow {
        width: 180px;
        margin-right: 0%;
    }
}

@media screen and (max-width: 375px) {
    .contact {
        font-size: 12px;
        width: 160px;
    }
    .follow {
        font-size: 12px;
        width: 160px;
    }

    .head {
        font-size: 18px;
    }
    .mat-divider {
    }
}

@media screen and (max-width: 320px) {
    .contact {
        font-size: 11px;
        width: 135px;
    }
    .follow {
        font-size: 11px;
        width: 135px;
    }

    .head {
        font-size: 17px;
    }
}
