<div class="container">
  <div class="sub-container">
    <div class="lbl">
      <strong>ยอดเงินรวม</strong>
      <strong>ค่าจัดส่ง</strong>
    </div>
    <div class="money">
      <strong>{{totalPrice}} บาท</strong>
      <strong>0 บาท</strong>
    </div>
  </div>
  <div class="sub-container">
    <div class="lbl">
      <strong>ยอดเงินสุทธิ</strong>
    </div>
    <div class="money">
      <strong>0 บาท</strong>
    </div>
  </div>
  <button mat-flat-button class="btn clear" color="warn" >ชำระเงิน</button>
</div>
