@use "../../../../../styles.scss" as global;

.container {
  border: global.$light-grey 1px solid;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  .sub-container {
    display: flex;
    justify-content: space-between;

    &:nth-child(1) {
      border-bottom: global.$light-grey 1px solid;
    }
    &:nth-child(2) {
      margin-top: 1rem;
    }
    div {
      display: flex;
      flex-direction: column;
      strong {
        margin-bottom: 1rem;
      }
    }
  }
  button {
    margin-top: 1rem;
  }
}
