$light-grey: #707070;

.summary {
  display: block;
  .inside-box {
    display: block;
    padding: 1rem;
    height: 155px;
    width: 200px;
    border: $light-grey 1px solid;
    .text-group {
      .row {
        margin-bottom: 10px;
        &.first,
        &.second,
        &.third {
          display: flex;
          .first-total,
          .second-ship,
          .third-total {
            margin-left: auto;
            margin-right: 0;
          }
        }
      }
      .mat-divider {
        opacity: 1;
        background-color: red;
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}
