<div class="container">
  <div class="header">
    <span class="img-lbl">รูปสินค้า</span>
    <span class="tltle-lbl">ชื่อสินค้า</span>
    <span class="price-lbl">ราคา</span>
    <span class="amount-lbl">จำนวน</span>
    <span class="total-lbl">รวม</span>
    <span class="btn-lbl"></span>
  </div>
  <div class="items-cart">
    <div class="item" *ngFor="let product of cartlist">
      <img
        src="{{product.product.image}}"
        alt=""
        [height]="100"
      />
      <span class="title">[{{product.product.categories}}] {{product.product.title}}</span>
      <span class="price">{{product.product.price}} บาท</span>
      <app-counter [num]="product.quantity" [inputWidth]="'40px'" [counterHeight]="'30px'" [fontSize]="'14px'"></app-counter>
      <span class="price">{{product.totalPrice}} บาท</span>
      <fa-icon class="faTrash" [icon]="faTrash" (click)="onDelete(product._id)"></fa-icon>
    </div>
  </div>
</div>

<!-- <tbody>
      <tr>
        <td>
          <img
            src="../../../../../assets/images/Book1.jfif"
            alt=""
            [height]="100"
          />
        </td>
        <td>
          <span class="title">[นิยาย] เกิดชาตินี้พี่ต้องเทพ เล่ม 12</span>
        </td>
        <td><span class="price">279 บาท</span></td>
        <td><app-counter></app-counter></td>
        <td><fa-icon class="faTrash" [icon]="faTrash"></fa-icon></td>
      </tr>
    </tbody> -->
