<div class="container">
  <main class="page-main">
    <div class="box-header">
      <div class="head">BROWSE BOOKS</div>
      <span class="see-all" routerLink="" [queryParams]="{ category: '' }"
        >(ดูทั้งหมด)</span
      >
    </div>
    <div class="card-section">
      <mat-card class="card" *ngFor="let product of booklistCurrent">
        <img
          mat-card-image
          src="{{ product.image }}"
          (error)="(doSomethingOnError)"
          alt="{{ product.title }}"
        />
        <div class="bottom">
          <mat-card-content>
            <p
              class="book-name"
              title="{{ product.title }}"
              (click)="detailNavigate(product._id)"
            >
              [{{ product.categories }}] {{ product.title }}
            </p>
            <div class="price">{{ product.price }} บาท</div>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-stroked-button
              class="btn addcart"
              color="primary"
              (click)="addCart(product._id)"
            >
              <fa-icon class="faShoppingCart" [icon]="faShoppingCart"></fa-icon
              ><span>เพิ่มเข้าตะกร้าสินค้า</span>
            </button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
    <div class="box-footer">
      <div class="page-ginate">
        <mat-paginator
          *ngIf="pageEvent"
          class="pginator"
          [length]="length"
          [pageSizeOptions]="pageSizeOptions"
          (page)="pageEvent = $event"
          aria-label="Select page"
          (page)="filterBook(pageEvent.pageSize, pageEvent.pageIndex + 1)"
        >
        </mat-paginator>
      </div>
    </div>
  </main>
</div>
