@use '../../../../styles.scss' as global;

.container {
  aside {
    strong {
      width: 180px;
      font-size: 18px;
      display: block;
      margin-bottom: 15px;
    }
    ul {
      padding: 15px;
      border: global.$light-grey 1px solid;
      border-radius: 10px;
      span {
        color: global.$light-grey;
        cursor: pointer;
        &:hover {
          color: global.$margenta;
          transition: 0.2s;
        }
      }
    }
  }
  @media (max-width: 768px) {
    ul {
      display: flex;
      width: auto;
      gap: 50px;
      li {
        text-align: center;
      }
    }
  }
  @media (max-width: 425px) {
    ul {
      display: flex;
      width: 365px;
      gap: 55px;
      li {
        text-align: center;
      }
    }
  }
  @media (max-width: 375px) {
    ul {
      display: flex;
      width: 315px;
      gap: 43px;
      li {
        text-align: center;
      }
    }
  }
  @media (max-width: 320px) {
    ul {
      display: flex;
      width: 260px;
      gap: 29px;
      li {
        text-align: center;
      }
    }
  }
}




