<div class="container">
<aside class="page-leftbar">
    <strong>หมวดหมู่ (Category)</strong>
    <div class="boxin">
      <ul>
        <li><span class="boxin1"
          routerLink="" [queryParams]="{'category': 'การ์ตูน'}" (click)="reloadComponent()">การ์ตูน</span></li>
        <mat-divider></mat-divider>
        <li><span class="boxin2"
          routerLink="" [queryParams]="{'category': 'นิยาย'}" (click)="reloadComponent()">นิยาย</span></li>
        <mat-divider></mat-divider>
        <li><span class="boxin3"
          routerLink="" [queryParams]="{'category': 'วารสาร'}" (click)="reloadComponent()">วารสาร</span></li>
      </ul>
    </div>
  </aside>
  </div>
