@use "../../../../styles.scss" as global;

.page-detail {
  display: flex;
  flex-direction: column;
  flex: 1;
  .box-header {
    display: flex;

    .head {
      font-size: 18px;
      margin-bottom: 15px;
      margin-right: 10px;
    }
    .sub-header {
      font-size: 15px;
      color: global.$light-grey;
    }
  }

  .bookdetail-section {
    padding: 20px;
    border: global.$light-grey 1px solid;
    border-radius: 10px;
    display: flex;
    .leftpicture {
      padding: 20px;
      border: global.$light-grey 1px solid;
      border-radius: 10px;
      display: flex;
      justify-content: center;
    }
    .book-information {
      margin-left: 20px;
      .book-tags {
        font-size: 15px;
        color: global.$light-grey;
        margin-bottom: 15px;
      }
      .bookname-holder {
        align-items: center;
        display: flex;
        min-height: 35px;
        width: 100%;
        background-color: red;
        line-height: 35px;
        padding: 10px 10px;
        margin-bottom: 15px;
        .book-name {
          font-size: 20px;
          color: white;
        }
      }
      .book-price {
        font-size: 20px;
        color: red;
        margin-bottom: 15px;
      }
      .amount-section {
        display: flex;
        margin-bottom: 15px;
        .inputstepper {
          display: flex;
          margin: 0;
          input {
            width: 100px;
            font-size: 20px;
            height: 40px;
            outline: none;
            border: 1px solid #c6bebe;
            border-radius: 5px;
            font-size: 16px;
            text-align: center;
            cursor: default;
          }
          .decrease,
          .increase {
            border: global.$light-grey 1px solid;
            align-self: center;
            border-radius: 5px;
            margin: 0px 5px;
            height: 40px;
            width: 30px;
            cursor: pointer;
            font-size: 15px;
          }
          .increase {
            margin-right: 10px;
          }
        }
        .addcart {
          font-size: 15px;
        }
      }
      .abstract {
        font-size: 15px;
        .head {
          color: global.$light-grey;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .bookdetail-section {
      flex-wrap: wrap;
      justify-content: center;

      .book-information {
        margin-right: 20px;
      }
    }
  }

  @media screen and (max-width: 425px) {
    .page-detail {
    }
    .bookdetail-section {
      width: 100%;

      justify-content: center;
      width: 350px;
      .leftpicture {
        img {
          width: 250px;
          height: 250px;
        }
      }
      .book-information {
        min-width: 292px;
      }
    }

    .box-header {
      justify-content: center;
    }
  }

  @media (max-width: 375px) {
    .bookdetail-section {
      width: 315px;
    }
  }

  @media screen and (max-width: 320px) {
    .box-header {
      width: 300px;
    }

    .bookdetail-section {
      margin: auto;
      width: 260px;
      .leftpicture {
        padding: 10px;
        img {
          width: 200px;
          height: 200px;
        }
      }
      .book-information {
        min-width: 222px;
        .bookname-holder {
          .book-name {
            font-size: 18px;
          }
        }
      }
    }
  }
}
