<div class="page-detail">
    <div class="box-header">
      <div class="head">BOOK DETAIL</div>
      <span class="sub-header">(รายละเอียดของหนังสือ)</span>
    </div>
    <div class="bookdetail-section">
      <div class="leftpicture">
        <img src="{{ bookdetail.image}}" (error)="(doSomethingOnError)" height="300" />
      </div>
      <div class="book-information">
        <div class="book-tags">{{ bookdetail.categories}}</div>
        <div class="bookname-holder">
          <div class="book-name">[{{ bookdetail.categories }}] {{ bookdetail.title }}</div>
        </div>
        <div class="book-price">ราคา {{ bookdetail.price}} บาท</div>
        <div class="amount-section">
          <div class="inputstepper">
            <app-counter (counter)="getCounter($event)"></app-counter>
          </div>
          <button
            mat-flat-button
            class="addcart"
            color="primary"
            (click)="addCart()"

          >
            เพิ่ม
          </button>
        </div>
        <div class="abstract">
          <div class="head">เรื่องย่อ</div>
          <div class="sub">
            {{ bookdetail.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
