@use "../../../../styles.scss" as global;

.container {
  border: global.$light-grey 1px solid;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  .cart-group {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 2fr 0.9fr;
    grid-gap: 1rem;
    justify-items: stretch;
    strong{
      margin-left: 1rem;
      color: global.$face-blue;
      font-size: 1.3rem;
      font-weight: bold;
    }
  }
  .button-group {
    button{
      margin-right: 1rem;
    }
  }
}
