* {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    }
    footer {
        height: 150px;
        width: 100%;
        color: #ffffff;
        background-color: red;
    }
    .Boxes{
        margin-left: 20%;
        padding-top: 20px;
    }
    .box1,.box2{
        display: inline-block;
        margin-right: 2%;

    }
    .head {
        font-size: 20px;
    }
    .mat-divider{
        height: 1px;
        background-color: white;
        margin: 0.4rem 0;
    }
