<footer>
    <div class="Outer-Section">
        <div class = "contact">
            <div class="head">CONTACT US</div>
            <mat-divider></mat-divider>
            <div>Tel . 098-999-9999</div>
            <div>Email : chainarong9846@gmail.com</div>
        </div>
        <div class = "follow">
            <div class="head">FOLLOW US</div>
            <mat-divider></mat-divider>
            <div>Facebook : Chainarong Mundee</div>
            <div>instagram : NuEatGrasses</div>
        </div>
    </div>
</footer>

