$face-blue: #3f51b5;
* {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    }
    footer {
        height: 150px;
        width: 100%;
        color: #ffffff;
        background-color: $face-blue;

    }
    .Outer-Section{
      display: flex;
        padding-top: 20px;
        justify-content: center;
    }
    .contact,.follow{
        display: inline-block;
        margin-right: 2%;

    }
    .head {
        font-size: 20px;
    }
    .mat-divider{
        height: 1px;
        background-color: white;
        margin: 0.4rem 0;
    }
