.home {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  

  app-contact {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  app-panel {
    display: inline-block;
  }

  .sub-main {
    justify-content: center;
    padding: 30px;
    padding-bottom: 200px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 1440px;
    width: 100%;
    
    router-outlet{
      
    }
    
  }
}
