<div class="home">

  <app-navbar (onSelect2)="onChange($event)" [islogin]="isLogin"></app-navbar>
  <main>
    <app-banner></app-banner>
    <div class="sub-main">
      <app-panel></app-panel>
      <!-- <app-booklist
      (onSelect1)="onChange($event)" 
      *ngIf="getPage"
      [getCate]="cate"></app-booklist>
      <app-bookdetail 
      (onSelect3)="onChange($event)"
      *ngIf="!getPage"></app-bookdetail> -->
      <router-outlet></router-outlet>
    </div>
  </main>
  <app-contact></app-contact>
</div>