@use '../../../../styles.scss' as global;
.container {
  strong {
  font-size: 24px;
  display: block;
  padding: 10px;
  text-decoration: underline;
  margin-bottom: 5px;
  cursor: default;
  }
  .boxin {
    padding: 20px;
    border: global.$light-grey 1px solid;
    border-radius: 10px;
    span {
      font-size: 17px;
      cursor: pointer;
      &:hover {
        color: global.$margenta;
        transition: 0.2s;
      }
    }
    .mat-divider {
      margin: 10px;
      width: 100%;
    }
    .fa {
      margin-right: 10px;
    }
  }
  @media (max-width: 1024px) {
    .boxin {
      padding: 12px;
    }
  }
  @media (max-width: 768px) and (min-width: 426px) {
    .boxin {
      margin-left: 18px;
      margin-bottom: 18px;
      ul {
        display: flex;
        li {
          text-align: center;
          display: flex;
          margin: 0;
        }
      }
    }
    strong {
      text-align: left;
      margin-left: 16px;
    }
    span {
      width: 200px;
    }
  }
  @media (max-width: 425px) {
    .boxin {
      margin-left: 18px;
      margin-bottom: 18px;
      ul {
        li {
          text-align: center;
          display: flex;
          margin: 0;
          justify-content: center;
        }
      }
    }
    strong {
      text-align: left;
      margin-left: 16px;
    }
    span {
      width: 200px;
    }
  }
}
