<div class="boxs">
  <div class="head">แก้ไขรายละเอียดบัญชี</div>
  <div class="upload-section">
    <form [formGroup]="myForm" class="user-pic">
      <img [src]="imgUrl" (error)="(doSomethingOnError)" height="200" width="200"/>
    </form>
    <div class="updesc">
      <input
        type="file"
        name="image"
        accept="image/*"
        multiple
        (change)="selectImage($event)"
        style="display: none"
        #fileInput
      />
      <button mat-stroked-button class="pick" (click)="fileInput.click()">
        เลือกไฟล์
      </button>
      <button mat-stroked-button class="upload" (click)="onSubmit()">
        อัพโหลดไฟล์
      </button>
      <div class="description">Acceptable formats: jpg, png only</div>
    </div>
  </div>
  <div class="sub-header">รายละเอียดบัญชี</div>
  <form class="form" [formGroup]="informationForm">
    <table class="group1" cellspacing="0">
      <tr>
        <td>
          <mat-form-field name="fName" appearance="fill">
            <mat-label>ชื่อจริง</mat-label>
            <input matInput type="text" readonly="readonly" [value]="user.firstname" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field name="lName" appearance="fill">
            <mat-label>นามสกุล</mat-label>
            <input matInput type="text" readonly="readonly" [value]="user.lastname" />
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="group2" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="email" appearance="fill">
            <mat-label>อีเมลล์</mat-label>
            <input
              matInput
              type="email"
              [formControl]="$any(informationForm).get('formEmail')"
              [(ngModel)]="user.email"
              required
            />
            <mat-error
              *ngIf="
                informCt.formEmail.touched &&
                informCt.formEmail.hasError('email')
              "
              >รูปแบบของอีเมลล์ไม่ถูกต้อง</mat-error
            >
            <mat-error
              *ngIf="
                informCt.formEmail.touched &&
                informCt.formEmail.hasError('required')
              "
              >{{ getRequiredError() }}</mat-error
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field name="phoneno" appearance="fill">
            <mat-label>เบอร์โทร</mat-label>
            <input
              matInput
              mask="000-000-0000"
              type="tel"
              maxlength="13"
              [formControl]="$any(informationForm).get('formPhone')"
              [(ngModel)]="user.phone"
              placeholder="09x-xxx-xxxx"
              required
            />
            <mat-error
              *ngIf="
                informCt.formPhone.touched &&
                informCt.formPhone.hasError('required')
              "
              >{{ getRequiredError() }}</mat-error
            >
            <!-- <mat-error *ngIf="formPhone.errors?.minlength && formPhone.invalid && formPhone.touched">hello</mat-error> -->
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div class="sub-header">ที่อยู่</div>
    <p>
      <mat-form-field class="address" appearance="fill">
        <mat-label>ที่อยู่หลัก</mat-label>
        <input
          matInput
          type="text"
          [formControl]="$any(informationForm).get('formAddress')"
          [(ngModel)]="user.address.mainAddress"
          required
        />
        <mat-error
          *ngIf="
            informCt.formAddress.touched &&
            informCt.formAddress.hasError('required')
          "
          >{{ getRequiredError() }}</mat-error
        >
      </mat-form-field>
    </p>

    <table class="group3" cellspacing="0">
      <td>
        <mat-form-field name="district" appearance="fill">
          <mat-label>อำเภอ</mat-label>
          <input
            matInput
            type="text"
            [formControl]="$any(informationForm).get('formDistrict')"
            [(ngModel)]="user.address.district"
            required
          />
          <mat-error
            *ngIf="
              informCt.formDistrict.touched &&
              informCt.formDistrict.hasError('required')
            "
            >{{ getRequiredError() }}</mat-error
          >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field name="province" appearance="fill">
          <mat-label>จังหวัด</mat-label>
          <input
            matInput
            type="text"
            [formControl]="$any(informationForm).get('formProvince')"
            [(ngModel)]="user.address.province"
            required
          />
          <mat-error
            *ngIf="
              informCt.formProvince.touched &&
              informCt.formProvince.hasError('required')
            "
            >{{ getRequiredError() }}</mat-error>
        </mat-form-field>
      </td>
      <tr>
        <mat-form-field name="postcode" appearance="fill">
          <mat-label>รหัสไปรษณีย์</mat-label>
          <input
            matInput
            type="text"
            maxlength="5"
            [formControl]="$any(informationForm).get('formPostCode')"
            placeholder="Ex.11111"
            [(ngModel)]="user.address.postcode"
            required
          />
          <mat-error
            *ngIf="
              informCt.formPostCode.touched &&
              informCt.formPostCode.hasError('required')
            "
            >{{ getRequiredError() }}</mat-error
          >
        </mat-form-field>
      </tr>
    </table>
  </form>
  <div class="save-section">
    <button
      mat-flat-button
      class="save-button"
      color="warn"
      style="width: 100px; font-size: 20px"
      [disabled]="(informationForm).invalid"
      (click)="onSubmit()"
    >
      บันทึก
    </button>
    <div class="warn" style="color: red">* กรุณากรอกข้อมูลที่จำเป็น</div>
  </div>
</div>
