$margenta: #ff4081;
$light-grey: #707070;
$face-blue: #3f51b5;
$mint: #00ff90;
* {
    font-family: "Kanit", sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.boxs {
    padding: 2rem;
    border: $light-grey 1px solid;
    border-radius: 10px;
    min-width: 800px;
    min-height: 950px;
    .form {
      margin-bottom: 5px;
    }
    .head {
        color: $face-blue;
        font-size: 24px;
        margin-bottom: 1rem;
      }
      .sub-header {
        color: $light-grey;
        font-size: 20px;
        margin-bottom: 15px;
      }
      .upload-section {
        display: flex;
        margin-bottom: 5px;
        .updesc {
          align-self: flex-end;
          display: block;
          margin-left: 15px;
          .upload, .pick {
            margin: 5px;
            height: 40px;
            width: 100px;
            border: none;
            color: white;
          }
          .upload {
            background-color: $face-blue;
          }
          .pick {
            background-color: $margenta;
          }
          .description {
            color: red;
          }
        }
      }
      .mat-form-field {
        font-size: 18px;
        width: 350px;
        margin-right: 15px;
        &.address {
          width: 715px;
        }
      }
      .save-section {
        display: flex;
        .warn {
          margin-left: 5px;
        }
      }
}
