<nav>
  <a routerLink="" routerLinkActive="active" 
    ><img [src]="imgUrl" (error)="(doSomethingOnError)" height="60"
  /></a>

  <div class="search-section">
    <div class="search-bar">
      <fa-icon class="faSearch" [icon]="faSearch"></fa-icon>
      <input type="text" placeholder="ค้นหา" />
    </div>
    <button mat-flat-button class="search-btn" color="accent">ค้นหา</button>
  </div>

  <div class="button">
    <div class="auth-button" *ngIf="!islogin">
      <button
        mat-stroked-button
        class="btn login"

        color="primary"
        routerLink="login" routerLinkActive="active"
      >
        เข้าสู่ระบบ
      </button>
      <button
        mat-stroked-button
        class="btn signup"

        color="warn"
        routerLink="register" routerLinkActive="active"
      >
        ลงทะเบียน
      </button>
    </div>

    <div class="auth-button" *ngIf="islogin">
      <button
        mat-flat-button
        class="btn menu"
        color="accent"
        [matMenuTriggerFor]="menu"
      >
        <fa-icon class="faBars" [icon]="faBars"></fa-icon> เมนู
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          routerLink="/edit-profile"
          routerLinkActive="active"
        >
          แก้ไขโปรไฟล์
        </button>
        <button mat-menu-item>ออกจากระบบ</button>
      </mat-menu>
    </div>

    <button
      mat-flat-button
      class="btn cart"
      color="primary"
      matBadge="1"
      matBadgePosition="after"
      matBadgeColor="accent"
      routerLink="/cart"
      routerLinkActive="active"
      *ngIf="islogin"
    >
      <fa-icon class="faShoppingCart" [icon]="faShoppingCart"></fa-icon>
      ตะกร้า
    </button>
  </div>
</nav>
