<div class="edit-profile">
  <app-navbar></app-navbar>
  <app-banner></app-banner>
  <div class="container">
    <aside class="page-leftbar">
      <strong>เมนูของผู้ใช้</strong>
      <div class="boxin">
        <ul>
          <li>
            <span class="detail" (click)="changePageDetail()"
              ><fa-icon class="fa" [icon]="faAddressBook"></fa-icon
              >แก้ไขรายละเอียดบัญชี</span
            >
          </li>
          <mat-divider></mat-divider>
          <li>
            <span class="secure" (click)="changePageSecure()"
              ><fa-icon class="fa" [icon]="faUserSecret"></fa-icon
              >ความปลอดภัย</span
            >
          </li>
          <mat-divider></mat-divider>
          <li>
            <span class="order" (click)="changePageOrder()"
              ><fa-icon class="fa" [icon]="faArchive"></fa-icon
              >จัดการคำสั่งซื้อ</span
            >
          </li>
        </ul>
      </div>
    </aside>
    <main class="page-main">
      <div class="boxs detail" *ngIf="userdetail">
        <div class="head">แก้ไขรายละเอียดบัญชี</div>
        <div class="upload-section">
          <div class="user-pic">
            <img [src]="imgUrl" (error)="(doSomethingOnError)" height="200" />
          </div>
          <div class="updesc">
            <button mat-raised-button class="upload">อัพโหลดไฟล์</button>
            <div class="description">
              Acceptable formats: jpg, png only <br />Max file size: 5mb
            </div>
          </div>
        </div>
        <div class="sub-header">รายละเอียดบัญชี</div>
        <form class="form">
          <table class="group1" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="fName" appearance="fill">
                  <mat-label>ชื่อจริง</mat-label>
                  <input matInput placeholder="สมเกียรติ" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="lName" appearance="fill">
                  <mat-label>นามสกุล</mat-label>
                  <input matInput placeholder="รักชาติไทย" />
                </mat-form-field>
              </td>
            </tr>
          </table>
          <table class="group2" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="uEmail" appearance="fill">
                  <mat-label>อีเมล</mat-label>
                  <input matInput placeholder="example@gmail.com" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="uPhone" appearance="fill">
                  <mat-label>เบอร์โทรศัพท์</mat-label>
                  <input matInput placeholder="098-xxx-xxxx" />
                </mat-form-field>
              </td>
            </tr>
          </table>
          <div class="sub-header">ที่อยู่</div>
          <p>
            <mat-form-field class="address" appearance="fill">
              <input matInput placeholder="กรุณากรอกที่อยู่"/>
            </mat-form-field>
          </p>

          <table class="group3" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="district" appearance="fill">
                  <mat-label>อำเภอ</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="province" appearance="fill">
                  <mat-label>จังหวัด</mat-label>
                  <input matInput placeholder="Ex. ขอนแก่น" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>รหัสไปรษณีย์</mat-label>
                  <input
                    matInput
                    #postalCode
                    maxlength="5"
                    placeholder="Ex. 11120"
                  />
                  <mat-hint align="end"
                    >{{ postalCode.value.length }} / 5</mat-hint
                  >
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
        <button
          mat-raised-button
          class="save-button"
          color="warn"
          style="width: 100px; font-size: 20px"
        >
          บันทึก
        </button>
      </div>
      <div class="boxs secure" *ngIf="secure">
        <div class="head">ความปลอดภัย</div>
        <div class="sub-header">แก้ไขรหัสผ่าน</div>
        <form class="form">
          <tr>
            <mat-form-field class="old-pass" appearance="fill">
              <mat-label>รหัสผ่านเดิม</mat-label>
              <input matInput type="password" />
            </mat-form-field>
          </tr>
          <tr>
            <mat-form-field class="new-pass" appearance="fill">
              <mat-label>รหัสผ่านใหม่</mat-label>
              <input matInput type="password" />
            </mat-form-field>
          </tr>
          <mat-form-field class="re-newpass" appearance="fill">
            <mat-label>ยืนยันรหัสผ่านใหม่</mat-label>
            <input matInput type="password" />
          </mat-form-field>
        </form>
        <button
          mat-raised-button
          class="save-button"
          color="warn"
          style="width: 100px; font-size: 20px"
        >
          บันทึก
        </button>
      </div>
      <div class="boxs myorder" *ngIf="myorder">
        <div class="head">จัดการคำสั่งซื้อ</div>
        <div class="sub-header">คำสั่งซื้อของฉัน</div>

        <button
          mat-raised-button
          class="save-button"
          color="warn"
          style="width: 100px; font-size: 20px"
        >
          บันทึก
        </button>
      </div>
    </main>
  </div>
  <app-contact></app-contact>
</div>
