<div class="cart-page">
  <app-navbar></app-navbar>
  <app-banner></app-banner>
  <div class="cart-section">
    <div class="cart-box">
      <div class="groups cart">
        <div class="header cart">ตะกร้าสินค้า</div>
        <div class="inside-box">
          <div class="menu name">ชื่อสินค้า</div>
          <div class="menu price">ราคา</div>
          <div class="menu eq">จำนวน</div>
          <div class="menu price-sum">รวม</div>
        </div>
        <div class="below-box">
          <div class="book img">
            <img [src]="imgUrl" (error)="(doSomethingOnError)" height="90" />
          </div>
          <div class="book name" title="[นิยาย] เกิดชาตินี้พี่ต้องเทพ เล่ม 12">
            [นิยาย] เกิดชาตินี้พี่ต้องเทพ เล่ม 12
          </div>
          <div class="book price">279 บาท</div>
          <div class="book stepper">
            <button class="decrease" (click)="decrease()">-</button>
            <input type="text" [value]="counter" readonly="readonly" />
            <button class="increase" (click)="increase()">+</button>
          </div>
          <div class="book price-sum">279 บาท</div>
          <div class="btn delete">
            <fa-icon class="faTrash" [icon]="faTrash"></fa-icon>
          </div>
        </div>
        <div class="button-group">
          <button mat-flat-button class="btn contipay" color="primary">
            <fa-icon
              class="faShoppingCart"
              [icon]="faShoppingCart"
              style="margin-right: 5px"
            ></fa-icon
            >ซื้อของต่อ
          </button>
          <button mat-flat-button class="btn clear" color="warn">
            <fa-icon
              class="faTrash"
              [icon]="faTrash"
              style="margin-right: 5px"
            ></fa-icon
            >ล้างตะกร้า
          </button>
        </div>
      </div>
      <div class="groups summary">
        <div class="header summary">สรุป</div>
        <div class="inside-box">
          <div class="text-group">
            <div class="row first">
              <div>ยอดเงินรวม</div>
              <div class="first-total">279 บาท</div>
            </div>
            <div class="row second">
              <div>ค่าจัดส่ง</div>
              <div class="second-ship">0 บาท</div>
            </div>
            <mat-divider></mat-divider>
            <div class="row third">
              <div>ยอดเงินสุทธิ</div>
              <div class="third-total">279 บาท</div>
            </div>
            <button
              mat-flat-button
              class="btn payment"
              style="width: 100%"
              color="warn"
            >
              ชำระเงิน
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="address-section">
    <div class="address-box">
      <div class="header">
        <fa-icon
          class="faHome"
          style="margin-right: 5px"
          [icon]="faHome"
        ></fa-icon
        >ที่อยู่ปัจจุบัน
      </div>
      <div class="address-bar">
        <div class="text-field"><mat-form-field appearance="fill">
          <input
            class="input-bar"
            readonly="readonly"
            matInput
            value="นายพีรยุทธ บางซี่ / เบอร์โทร 0623436233 / 168/76 อ.หนองกล้วย ต.หนองลิง จ.สระบุเรียน"
          />
        </mat-form-field></div>
      </div>
    </div>
  </div>
</div>
<app-contact></app-contact>


