$margenta: #ff4081;
$light-grey: #707070;
$face-blue: #3f51b5;
$mint: #00ff90;
* {
  font-family: "Kanit", sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    main {
      .profile-section {
        display: flex;
        justify-content: center;
        padding: 30px;
        padding-bottom: 200px;
      }
    }

    app-profile-panel {
      margin-right: 1rem;
    }
    app-contact {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    @media (max-width:768px) {
      .profile-section{
        flex-direction: column;
      }
    }
}
