.container {
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    app-navbar{
        position: fixed;
    }

    main{
        margin-top: 5rem;
    }

    app-contact {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}
